# Dependencies
node_modules/

# Build outputs
dist/
target/
wasm/
pkg/
rust-parser/target/
rust-parser/pkg/

# Logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.direnv
.pre-commit-config.yaml
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Package files
  *.tgz
