[package]
name = "vite-plugin-norg-parser"
version = "1.3.1"
edition = "2021"
authors = ["drake bott"]
description = "wasm parser for vite-plugin-norg"
license = "MIT"
repository = "https://github.com/bottd/vite-plugin-norg"
categories = ["norg", "neorg", "vite", "parser"]

[lib]
name = "vite_plugin_norg_parser"
crate-type = ["cdylib", "rlib"]
path = "src/parser/lib.rs"


[dependencies]
napi = { version = "=3.7.0", features = ["serde-json"] }
napi-derive = "=3.4.0"
serde = { version = "=1.0.228", features = ["derive"] }
serde_json = "=1.0.145"
htmlescape = "=0.3.1"
rust-norg = { git = "https://github.com/nvim-neorg/rust-norg", rev = "79673015447b62d021d57b92f80be1454fe5cf83" }
textwrap = "=0.16.2"
itertools = "=0.14.0"

[dev-dependencies]
insta = { version = "=1.44.3", features = ["yaml"] }
proptest = "=1.9.0"
rstest = "=0.18.2"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
strip = true
