[package]
name = "vite-plugin-norg-parser"
version = "2.3.3"
edition = "2024"
authors = ["Drake Bott"]
description = "wasm parser for vite-plugin-norg"
license = "MIT"
repository = "https://github.com/bottd/vite-plugin-norg"
categories = ["norg", "neorg", "vite", "parser"]

[lib]
name = "vite_plugin_norg_parser"
crate-type = ["cdylib", "rlib"]
path = "src/parser/lib.rs"


[dependencies]
napi = { version = "=3.8.3", features = ["serde-json"] }
napi-derive = { version = "=3.5.2", features = ["type-def"] }
serde = { version = "=1.0.228", features = ["derive"] }
serde_json = "=1.0.149"
htmlescape = "=0.3.1"
rust-norg = { git = "https://github.com/nvim-neorg/rust-norg", rev = "79673015447b62d021d57b92f80be1454fe5cf83" }
arborium = { version = "=2.13.0", features = ["all-languages"] }
textwrap = "=0.16.2"
itertools = "=0.14.0"

[dev-dependencies]
insta = { version = "=1.46.3", features = ["yaml"] }
proptest = "=1.10.0"
rstest = "=0.26.1"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
strip = true
