[package]
name = "vite-plugin-norg-parser"
version = "1.2.0"
edition = "2021"
authors = ["drake bott"]
description = "wasm parser for vite-plugin-norg"
license = "MIT"
repository = "https://github.com/bottd/vite-plugin-norg"
categories = ["norg", "neorg", "vite", "parser"]

[lib]
name = "vite_plugin_norg_parser"
crate-type = ["cdylib", "rlib"]
path = "src/parser/lib.rs"


[dependencies]
napi = { version = "3", features = ["serde-json"] }
napi-derive = "3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
htmlescape = "0.3"
rust-norg = { git = "https://github.com/nvim-neorg/rust-norg", rev = "79673015447b62d021d57b92f80be1454fe5cf83" }
textwrap = "0.16.1"

[dev-dependencies]
insta = { version = "1.39.0", features = ["yaml"] }
proptest = "1.4.0"
rstest = "0.18.2"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
strip = true
