name: PR Pipeline

on:
  pull_request:
    branches: [main]

jobs:
  ci:
    name: CI Pipeline
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Check formatting
        run: nix fmt -- --fail-on-change

      - name: Run Nix flake checks
        run: nix flake check

      - name: Build plugin
        run: bun run build

      - name: Run clippy
        run: cargo clippy

      - name: Run eslint
        run: bun run lint

      - name: Run Rust tests
        run: cargo test

      - name: Run JavaScript tests
        run: bun test
