name: Release

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}

      - name: Setup
        uses: ./.github/actions/setup

      - name: Check formatting
        run: nix fmt -- --check

      - name: Run Nix flake checks
        run: nix flake check

      - name: Build plugin
        run: bun run build

      - name: Run clippy
        run: cargo clippy

      - name: Run eslint
        run: bun run lint

      - name: Run Rust tests
        run: cargo test

      - name: Run JavaScript tests
        run: bun test

      - name: Semantic Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
